* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #14213D;
    --secondary-color: #28A745;
    --nav-text: #B5B5B5;
    --text-para: #C0BDBD;
}

body {
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(135deg, #1e3a5f 0%, #2c5282 50%, #1a365d 100%); */
    /* min-height: 100vh; */
    color: white;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

a {
    text-decoration: none;
}

.para-gray {
    color: var(--text-para);
}

/* ============================== */
/* Header Start */
/* ============================== */

.navbar-custom {
    background: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar-logo {
    width: 100%;
    height: 100px;
}

.navbar-nav .nav-link {
    color: var(--nav-text);
    padding: 12px 22px !important;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: white !important;
    background: var(--secondary-color);
    border-radius: 0.5rem;
}

.btn-custom {
    border: none;
    border-radius: 10px;
    padding: 9px 16px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 19px;
}

.btn-custom:hover {
    transform: translateY(-2px);
}

.btn-icon {
    padding: 10px;
    border-radius: 50px;
}

.btn-green {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color) !important;
}

.btn-white {
    background: #FFF;
    color: var(--primary-color);
    border: 1px solid #FFF !important;
}

.btn-white:hover {
    background: var(--secondary-color);
    color: #FFF;
    border-color: var(--secondary-color) !important;
}

.head-bold {
    color: #ffffff;

}

.btn-gradient {
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
}


.navbar-toggler,
.navbar-toggler:focus {
    border-color: #FFF;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    color: #FFF;
    filter: brightness(255);
}

/* ============================== */
/* Hero Section Start */
/* ============================== */

.hero-section {
    padding: 100px 0px 300px 0px;
    text-align: center;
    background-color: var(--primary-color);
    background-image: url('../images/hero-banner.png');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.dashboard-section {
    background-color: var(--white);
    margin-top: -150px;
    position: relative;
}

.cards-outer-wrapper {
    display: flex;
    gap: 12px;
}

.dashboard-section .card-wrapper {
    width: 20%;
}

.chart-wrapper {
    width: 29%;
}

.fund-wrapper {
    width: 31%;
}

.dashboard-card {
    width: 100%;
    background: #FFFFFF;
    border-radius: 13.913px;
    transition: all 0.3s ease;
    padding: 14px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 600;
    font-size: 11.1304px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 8px;
}

.dashboard-card .icon-wrapper {
    background: #FFFFFF;
    border: 0.35px solid #0000001A;
    box-shadow: 0px 0px 1.39px 0px #0000001A;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 28px;
    height: 28px;
}

.dashboard-card .list-item {
    border: 0.35px solid #0000001A;
    padding: 10px 8px;
    border-radius: 8.35px;
}

.card-value {
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    color: #000000;
}

.card-subtitle {
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    color: var(--secondary-color);
}

.text-muted {
    font-weight: 500;
    font-size: 10px;
    line-height: 8px;
    color: #747474;
}

.stock-number {
    background: #FBFBFB;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.wallet-add-btn {
    background: var(--secondary-color);
    border-radius: 10.5461px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s all ease;
}


.wallet-add-btn:hover {
    background: var(--primary-color);
}

.fund-title {
    font-weight: 700;
    font-size: 17.9478px;
    line-height: 27px;
    color: #000000;
}

.fund-box-wrapper {
    background: #FFFFFF;
    border: 0.56087px solid rgba(0, 0, 0, 0.1);
    border-radius: 13.4609px;
}

.fund-box-wrapper .top-box {
    box-shadow: 0px 1.12174px 15.725px rgba(0, 0, 0, 0.06);
    border-radius: 13.4609px 13.4609px 0px 0px;
    border-bottom: 0.56087px solid rgba(0, 0, 0, 0.1);
}


.fund-box-wrapper .card-value {
    font-size: 14px;
}

.border-btn-custom {
    border: 1px solid var(--secondary-color);
    border-radius: 10.5461px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: var(--secondary-color);
    transition: 0.3s all ease;
}

.text-green {
    color: var(--secondary-color);
}

/* ============================= */
/* features-section */
/* ============================= */

.features-section {
    padding: 0 0px;
    margin: 200px 0px;
    position: relative;
    /* background-color: rgba(28, 42, 68, 0.08); */
    background: #1C2A4414;
}

.features-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('../images/wave-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    left: 0;
    right: 0;
    top: -100px;
}

.features-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('../images/wave-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: -100px;
}

.sec-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    color: #000000;
}

.para {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.feature-box {
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
    border-radius: 40px;
    position: relative;
    z-index: 1;
    padding: 0px 100px;
}

.feature-box.two {
    background: #1C2A44;
}

.feature-box.one::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/bg-2.png') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    left: 0;
    right: 0;
}

.feature-box.two::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/bg-3.png') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    left: 0;
    right: 0;
}

.feature-box .content-wrapper {
    padding: 50px 0px;
}

.feature-icon-wrapper {
    width: 53.46px;
    height: 53.46px;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.feature-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    color: #FFFFFF;
}

.arrow-btn img {
    width: 40px;
    height: auto;
}

.feature-img {
    object-fit: contain;
}

/* ===================================== */
/* Faq section */
/* ==================================== */
.faq-container {
    max-width: 870px;
    margin: 50px auto 100px;
}

.accordion-item {
    border: none;
    border-radius: 15px !important;
    margin: 10px 0px;
}

.accordion-button {
    background-color: #FBFBFB !important;
    border: none;
    padding: 1.25rem 1.5rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: #374151;
    box-shadow: none;
    border-radius: 15px !important;
    position: relative;
}

.accordion-button:not(.collapsed) {
    background: var(--secondary-color) !important;
    color: white;
    box-shadow: none;
}

.accordion-button:not(.collapsed) .check-icon {
    transform: rotate(180deg);
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-button::after {
    display: none;
}

.accordion-body {
    padding: 1.25rem 1.5rem;
    color: #6b7280;
    font-size: 0.9rem;
    line-height: 1.6;
    border-top: none;
    max-width: 95%;
    margin: 0 auto;
    background: #FBFBFB;
    border: 0.9px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 15px 15px;
}

.accordion-collapse {
    border: none;
}

.custom-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    flex-shrink: 0;
    transition: transform 0.2s ease;
}

.check-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    flex-shrink: 0;
}

.check-circle {
    fill: white;
}

.accordion-button[aria-expanded="true"] .check-icon path {
    fill: #FFF;
}

/* ====================================== */
/* cta-section */
/* ====================================== */

.cta-section {
    background: url('../images/cta-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.play-img {
    width: auto;
    height: 40px;
}

.cta-content-wrapper {
    padding: 50px 20px 0px;
}

/* ====================================== */
/* Footer */
/* ====================================== */

footer {
    background-color: #F6F6F6;
    padding: 40px 0px;
}

.f-logo {
    max-width: 120px;
}

.f-para {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    margin: 10px 0px;
}

.f-icon i {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    color: var(--primary-color);
    background-color: #FFF;
    transition: .3s all;
}

.f-icon i:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.f-title {
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    color: #191919;
}

.f-links li a {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #191919;
    padding: 8px 0px;
    display: flex;
    gap: 10px;
    transition: 0.3s all ease;
}

.f-links li a:hover {
    color: var(--primary-color);
}

.f-links li i {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 4px;
    border-radius: 50px;
    color: var(--primary-color);
    background-color: #FFF;
    transition: .3s all;
}

.f-links li a:hover i {
    color: #FFF;
    background: var(--primary-color);
}

.f-bottom {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 18px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
}

/* ============================================================== */
/* Education page start */
/* ============================================================== */

/* Hero banner */

.small-banner {
    padding: 100px 0px;
    position: relative;
    z-index: 1;
}

.small-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90.17deg, #FFFFFF 18.45%, rgba(0, 0, 0, 0) 50.26%);
    z-index: -1;
}

.education-banner {
    background: url('../images/education-banner.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.about-banner {
    background: url('../images/about-us-banner.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-banner {
    background: url('../images/contact-us-banner.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.small-banner-title {
    font-size: 48px;
    line-height: normal;
}

.banner-para {
    font-size: 22px;
    line-height: 1.5;
}

.abt-txt-1 {

    font-size: 34px;
    line-height: 41px;
    color: #000000;
    font-weight: 700;



}

.abt-txt-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #555555;
}

/* Article Section */

.py-100 {
    padding: 100px 0px;
}

.article-box {
    box-shadow: 0px 0px 6px 0px #0000001A;
    background: #FFF;
    border-radius: 15px;
    margin: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-box .img-wrapper {
    max-height: 260px;
    border-radius: 15px;
    z-index: 1;
}

.article-box .img-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    background: #00000033;
    z-index: -1;
    top: 0;
    bottom: 0;
    border-radius: 15px;
}

.article-box .img-wrapper img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-tag {
    background: #FFF;
    padding: 15px 24px;
    border-radius: 50px;
    color: #0F1842;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 20px;
    right: 20px;
}

.article-content {
    padding: 21px 23px 14px;
}

.article-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    color: #000000;
}

.article-expert {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}

.article-footer {
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.footer-icon {
    width: 34px !important;
    height: 34px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50px;
    background-color: #FFF;
}

.footer-icon img {
    width: 100%;
    height: auto;
}

.article-footer span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* ===================================== */
/* invest page start */
/* ===================================== */
.investcard-heading {
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    text-align: center;

}

.investcard-heading-2 {
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;

}

.invest-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px #0000001A;
    padding: 36px 50px;
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

.invest-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px #0000001A;
    padding: 36px 50px;
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

.invest-list {
    color: #555555;
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.invest-list-2 {
    color: #FFFFFF;
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
}

.invest-list li,
.invest-list-2 li {
    padding-bottom: 14px;
}

.invest-icon {
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
    padding: 29px;
    display: block;
    border-radius: 50%;
}

.invest-icon-2 {
    background: #FFFFFF;
    padding: 24px;
    border-radius: 50%;
    display: block;
}

.trade-icon {
    padding: 15px 17px;
    display: flex;
    background: linear-gradient(66.52deg, #1C2A44 17.28%, #377899 50%, #4669AA 82.72%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

/* Rectangle 34639834 */




.trade-txt-1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
    margin: 0;
    padding-bottom: 7px;
}

.trade-txt-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #555555;
}

.trade-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 22px;
}


.trade-obj-box {
    padding: 50px;
    background: #ffffff;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px #0000001A;

}

.trade-obj-box img {
    height: 350px;
}

/* Rectangle 34639842 */
.about-obj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* .about-obj-img{
    box-shadow: 0px 0px 9px 0px #0000001A;

} */
.about-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.about-heading-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.about-text-2 {

    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.form-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

form ::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #555555;
}

.form-control {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px 17px;
    border: none;

}


.invest-txt-1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    color: #0F1842;
}

.invest-txt-2 {

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #555555;
}

.invest-txt-3 {
    display: flex;
    flex-direction: column;
}

.invest-txt-3 li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 13px 0px 13px 20px;
    position: relative;
    display: inline;
    text-align: start;
}

.invest-txt-3 li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 13px;
    left: -5px;
    background: url(../images/icons/arrow-go.svg);
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.invest-txt-3 li img {
    padding-right: 5px;
}

.card-invest {
    background: #FFFFFF;
    /* box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1); */
    border-radius: 20px;
    padding: 26px;
    background: border-box;
    /* background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #0000001A; */
}

/* background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px; */

/* ===================================== */
/* Responsive start */
/* ===================================== */

@media (max-width: 1199.98px) {

    .dashboard-section .card-wrapper,
    .chart-wrapper,
    .fund-wrapper {
        width: 25%;
    }

    .feature-box {
        padding: 0px 50px;
    }

    .feature-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        text-align: center;
    }

    .cards-outer-wrapper {
        flex-wrap: wrap;
    }

    .chart-wrapper,
    .fund-wrapper {
        width: calc(100% - 40% - 12px);
    }

    .dashboard-section .card-wrapper {
        width: calc(100% - 60% - 12px);
    }

    .graph-img {
        height: 250px;
    }

    .dashboard-card {
        height: 100%;
    }

    .hero-section {
        padding: 70px 0px 250px 0px;
    }

    .faq-container {
        margin: 30px auto 70px;
    }

    .small-banner,
    .py-100 {
        padding: 70px 0px;
    }

    .small-banner-title {
        font-size: 42px;
    }

    .banner-para {
        font-size: 18px;
    }

    .abt-txt-1 {
        font-size: 28px;
    }

    .abt-txt-2 {
        font-size: 18px;
        line-height: 30px;
    }

    .small-banner::before {
        background: linear-gradient(90.17deg, #FFFFFF 18.45%, rgb(255 255 255 / 50%) 50.26%);
    }

    .invest-txt-1 {
        font-weight: 700;
        font-size: 31px;
        line-height: 34px;
    }
}


@media (max-width: 767.98px) {
    .hero-section {
        padding: 50px 0px 200px 0px;
    }

    .hero-title {
        font-size: 42px;
        line-height: 48px;
    }

    .hero-subtitle {
        font-size: 18px;
    }

    .sec-title {
        font-size: 34px;
        line-height: 45px;
    }

    .features-section {
        margin: 150px 0px;
    }

    .features-section::before,
    .features-section::after {
        height: 50px;
    }

    .features-section::before {
        top: -50px;
    }

    .features-section::after {
        bottom: -50px;
    }

    .small-banner,
    .py-100 {
        padding: 50px 0px;
    }

    .small-banner-title {
        font-size: 40px;
    }

    .banner-para {
        font-size: 16px;
    }

    .trade-obj-box {
        padding: 30px;
    }



}

@media (max-width: 575.98px) {

    .chart-wrapper,
    .fund-wrapper,
    .dashboard-section .card-wrapper {
        width: 100%
    }

    .hero-title {
        font-size: 38px;
        line-height: 42px;
    }

    .hero-subtitle {
        font-size: 16px;
    }

    .sec-title {
        font-size: 28px;
        line-height: 35px;
    }

    .features-section {
        margin: 80px 0px;
    }

    .para {
        font-size: 14px;
        line-height: 22px;
    }

    .feature-box {
        padding: 0px 20px;
        border-radius: 20px;
    }

    .feature-box .content-wrapper {
        padding: 20px 0px;
    }

    .feature-icon-wrapper {
        width: 43.46px;
        height: 43.46px;
        margin: 0 auto;
    }

    .feature-box .arrow-btn {
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feature-title {
        font-size: 24px;
        line-height: 32px;
        text-align: center;

    }

    .feature-img {
        height: auto !important;
    }

    .faq-container {
        margin: 20px auto 40px;
    }

    footer {
        padding: 20px 0px;
    }

    .f-links li a {
        font-size: 14px;
        padding: 5px 0px;
        justify-content: center;
        align-items: center;
    }

    .small-banner-title {
        font-size: 34px;
    }

    .article-box .img-wrapper {
        max-height: 100%;
    }

    .article-content {
        padding: 12px;
    }

    .article-title {
        font-size: 20px;
        line-height: 28px;
    }

    .invest-icon {
        padding: 20px;
    }

    .invest-card {
        padding: 32px 30px;

    }

    .invest-card-2 {
        padding: 32px 30px;

    }

    .invest-icon-2 {
        /* background: #FFFFFF; */
        padding: 16px 16px;
        border-radius: 50%;

    }

    .list-unstyled {
        justify-content: center;
        text-align: center;
    }

    .f-para {
        text-align: center;
    }

    .f-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

}